/* Style Settings */

@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
:root {
  --font: "Karla", "Karla", sans-serif;
}

body {
  background-color: rgb(10, 10, 10);
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
    Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
    sans-serif;
}

.center {
  margin: 0 auto;
  text-align: center;
}

a span {
  padding-left: 0.5rem;
}

#userPhoto {
  width: 120px;
  height: 120px;
  display: block;
  margin: 32px auto 16px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 25%;
}

#userName {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  display: block;
  background-color: rgb(66, 110, 255);
  color: #fff;
  font-family: var(--font);
  text-align: center;
  margin-bottom: 16px;
  padding: 12px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border: solid rgb(66, 110, 255) 2px;
  filter: grayscale(100%);
}

.link:hover {
  background-color: #fff;
  color: rgb(66, 110, 255);
  border: solid rgb(66, 110, 255) 2px;
}

.footer {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.footer a {
  text-decoration: none;
}

.circulo {
  background: rgb(221, 221, 221);
  border-radius: 52px;
  width: 45px;
  height: 45px;
  margin-right: 8px;
  text-align: center;
  font-size: 10px;
  color: rgb(32, 32, 32);
}

.circulo:hover {
  background: rgb(66, 110, 255);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

.night_mode {
  position: fixed;
  top: 25px;
  right: 30px;
  z-index: 10000000;
  color: rgb(225, 225, 0);
}

.night_mode:hover {
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
